{% extends 'reporte_regions_generic.html' %}

{% block resumen-nacional %}
<div style="position: relative; text-align: center;">  
  <iframe style="width: 100%; max-width: 680px;" height="665" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTpPrYToOh374nJ8yL7pg7v_IrkCqEIlKtKCiA9yb0aqLW9A1w_1bot8IVjg9HrOFJqTA51xv5nzQSf/pubhtml?gid=809850418&single=true&chrome=false&range=A1:I30" frameborder="0"></iframe>  
</div>
<div style="position: relative; text-align: center;">
  <iframe style="width: 100%; max-width: 340px;" height="186" src="{{NACIONAL.casos_url}}" frameborder="0"></iframe>
  <iframe style="width: 100%; max-width: 340px;" height="186" src="{{NACIONAL.fallecidos_url}}" frameborder="0"></iframe>
</div>

{% endblock resumen-nacional %}

{% block region-detail %}
<div class='col-xl' style='text-align: center;'> 
  <iframe style="width: 100%; max-width: 600px;" height=390 src="${region.casos_url}" frameborder="0"></iframe>
</div>
<div class='col-xl' style='text-align: center;'>
  <iframe style="width: 100%; max-width: 600px;" height=390 src="${region.fallecidos_url}" frameborder="0"></iframe>
</div>
{% endblock region-detail %}