{% extends 'base.html' %}
{% load cropping %}

{% block title %}Reporte: {{report_page.title}}{% endblock title %}

{% block head_css_page %}
<!--<link href="{{ STATIC_URL }}home/css/index.css" rel="stylesheet" media="screen">-->
<link href="{{ STATIC_URL }}reportes/css/reporte.css" rel="stylesheet" media="screen">
{% endblock head_css_page %}

{% block og_title %}OpenCovid-Perú: {{report_page.title}}{% endblock og_title %}
{% block og_image %}{% cropped_thumbnail report_page "cropped_cover_image" height=225 %}{% endblock og_image %}
{% block og_description%}Reporte: {{report_page.description}}{% endblock og_description %}
{% block og_type %}article{% endblock og_type %}

{% block content %}
<main role="main">
  <div class="jumbotron jumbotron-fluid">    
      <div class="container">
        <h1 class="display-4">{{report_page.title}}</h1>
        <p class="lead">{{report_page.description}}</p>
      </div>  
  </div>
  <div class="container">
    {% block index_content %}

      {% if report_page.table_of_contents %}
        <div id="toc_container">
          {{report_page.table_of_contents|safe}}
        </div>
      {% endif %}

    {% endblock index_content %}
  </div>
  <div class='container'>
    {{report_page.top_body_content|safe}}
  </div>

  {% block inner_content %}
  {% endblock inner_content %}
  
  <div class='container-fluid'>
    {{report_page.main_body_content|safe}}
  </div>
  <div class='container'>
    {{report_page.bottom_body_content|safe}}
  </div>
</main>
{% endblock content %}